---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="site-header">
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://m.webtoo.ls/@astro" target="_blank">
				<span class="sr-only">Follow Astro on Mastodon</span>
				<!-- Mastodon Icon -->
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
					<path fill="currentColor" d="..." />
				</svg>
			</a>
			<a href="https://twitter.com/astrodotbuild" target="_blank">
				<span class="sr-only">Follow Astro on Twitter</span>
				<!-- Twitter Icon -->
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
					<path fill="currentColor" d="..." />
				</svg>
			</a>
			<a href="https://github.com/withastro/astro" target="_blank">
				<span class="sr-only">Go to Astro's GitHub repo</span>
				<!-- GitHub Icon -->
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
					<path fill="currentColor" d="..." />
				</svg>
			</a>
		</div>
	</nav>
</header>

<style>
.site-header {
	background-color: #ffffff;
	color: rgb(var(--gray-dark));
	box-shadow: 0 2px 8px rgba(var(--black), 0.05);
	position: sticky;
	top: 0;
	z-index: 100;
	padding: 0 1em;
}

@media (prefers-color-scheme: dark) {
	.site-header {
		background-color: #0d0d0d;
		color: rgb(var(--gray-dark));
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	}
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav a {
	padding: 1em 0.5em;
	color: var(--black);
	border-bottom: 4px solid transparent;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	nav a {
		color: var(--gray-dark);
	}
}

nav a.active {
	border-bottom-color: var(--accent);
}

h2 {
	margin: 0;
	font-size: 1em;
}

h2 a,
h2 a.active {
	text-decoration: none;
}

.social-links,
.social-links a {
	display: flex;
}

@media (max-width: 720px) {
	.social-links {
		display: none;
	}
}
</style>
